# arc
arckit>=0.1.0
drawsvg[all]

# ml 
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
torchao==0.6.1
torchtune==0.3.1

trl==0.11.4
datasets==3.1.0

datasets>=2.17.1
tokenizers>=0.15.2
transformers>=4.39.0
trl==0.11.4
wandb>=0.18.5

scipy>=1.12.0
matplotlib>=3.9.3

# utils
python-dotenv==1.0.1
pydantic>=2.9.2

# development
pytest
pre-commit
ruff>=0.7.2
pyright>=1.1.386
ipython>=7.31.1
loguru>=0.7.2

# 3p
openai==1.55.3
wandb==0.18.6

# TODO: flash attn
# ninja
# packaging
# setuptools
# flash-attn

# TODO: add unsloth
